<!DOCTYPE html>
<html>
  <head>
    <meta charset=\"UTF-8\" />
    <meta name=\"viewport\" content=\"width=device-width\" />
    <title>Index</title>
  </head>
  <body>
    <ul>
      <li><a href=\"./main/pkg/github.com/aptpod/iscp-go/index.html\" target=\"_blank\">go-doc-main(development)</a></li>
      ${links}
    </ul>
  </body>
</html>
